.container-for-tabs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 51%;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons .next-btn:last-child {
  margin-left: auto;
}
