$color_1: #fff;
$color_2: #333;
$background-color_1: #e53935;
$background-color_2: #c62828;
$background-color_3: #007bff;
$background-color_4: #0056b3;
$background-color_5: #ccc;

.admin-dashboard-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.admin-logout-button {
	background-color: $background-color_1;
	color: $color_1;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	&:hover {
		background-color: $background-color_2;
	}
}
.admin-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	th {
		border: 1px solid #ccc;
		padding: 10px;
		text-align: center;
	}
	td {
		border: 1px solid #ccc;
		padding: 10px;
		text-align: center;
	}
}
.admin-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.admin-input {
	width: 250px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	font-size: 14px;
	margin: 5px 0;
}
.admin-login-button {
	background-color: $background-color_3;
	color: $color_1;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin: 5px 0;
	&:hover {
		background-color: $background-color_4;
	}
}
.admin-skip-button {
	background-color: $background-color_5;
	color: $color_2;
	border: none;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
	margin: 5px 0;
}
.container-for-buttons {
	display: flex;
	width: 80%;
	justify-content: space-between;
}