$color_1: hsl(213, 96%, 18%);
$color_2: hsl(231, 11%, 63%);
$border-color_1: black;

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px;
	width: 130px;
	height: 150px;
	border: 1px solid hsl(229, 24%, 87%);
	border-radius: 7px;
	cursor: pointer;
	&:hover {
		border-color: $border-color_1;
	}
}
.card-text {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.card-text-name {
	color: $color_1;
	font-weight: 500;
}
.card-text-price {
	color: $color_2;
}
.card-text-free {
	font-size: 12px;
	color: $color_1;
}
