$background-color_1: hsl(217, 100%, 97%);
$background-color_2: hsl(213, 96%, 18%);
$background-color_3: #fff;

.toggle-container {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: $background-color_1;
	gap: 10px;
	padding: 10px 0px;
	align-items: center;
	border-radius: 7px;
}
.toggle {
	position: relative;
	width: 60px;
	height: 30px;
	-webkit-appearance: none;
	appearance: none;
	background-color: $background-color_2;
	outline: none;
	border-radius: 2rem;
	cursor: pointer;
	&::before {
		content: "";
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $background-color_3;
		position: absolute;
		top: 0;
		left: 0;
		transition: 0.2s;
	}
	&:checked {
		&::before {
			transform: translateX(100%);
		}
	}
}
